!_TAG_FILE_FORMAT	2	/extended format; --format=1 will not append ;" to lines/
!_TAG_FILE_SORTED	1	/0=unsorted, 1=sorted, 2=foldcase/
!_TAG_PROGRAM_AUTHOR	Michael Buettner	/michbuett@gmx.net/
!_TAG_PROGRAM_NAME	JsDoc-Tags	//
!_TAG_PROGRAM_URL	https://github.com/michbuett/jsdoc-tags	/official site/
!_TAG_PROGRAM_VERSION	0.1	//

<for each="tag" in="data">
{!
    output += [tag.name, tag.file, tag.line + ';"', tag.type].join('\t');
!}
</for>

